body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif; 
}
.navbar-inverse { background-color: #449d44; }
.navbar-inverse, .navbar-brand, .navbar-brand a:link, .navbar-brand a:visited { color: #fff; }
.navbar-brand a:hover { text-decoration: none; }
.navbar-brand { font-size: 1.3em; font-weight: bold; text-shadow: 1px 2px 3px #222; }
.h1 { font-size: 1.5em; font-weight: bold; }
.jumbotron { background-color: #eef3ee; }
footer { background-color: #449d44; color: #fff; font-size: 0.9em; padding: 15px 15px 5px 15px; text-align: right; }
